:root {
  --body-bg-color: #fff;
  --clock-border-color: #e5ebec;
  --bg-clock-color: #fff;
  --number-color: #000;
  --text-color: #111010;
  --hand-color: #000;
  --second-hand-color: #ff0000;
}

[data-theme="bw"] {
  --body-bg-color: #fff;
  --clock-border-color: #e5ebec;
  --bg-clock-color: #fff;
  --number-color: #000;
  --text-color: #111010;
  --hand-color: #000;
  --second-hand-color: #ff0000;
}
[data-theme="dark"] {
  --body-bg-color: #10121d;
  --clock-border-color: #313d3f;
  --bg-clock-color: #000;
  --number-color: #fff;
  --text-color: #d6cfcf;
  --hand-color: #fff;
  --second-hand-color: #ff0000;
}

[data-theme="gold"] {
  --body-bg-color: #ebe2c9;
  --clock-border-color: #c0a34c;
  --bg-clock-color: #fdf6e6;
  --number-color: #a0802e;
  --text-color: #a0802e;
  --hand-color: #bf9b30;
  --second-hand-color: #661212;
}
[data-theme="pink"] {
  --body-bg-color: #ffdbdb;
  --clock-border-color: #f39eb6;
  --bg-clock-color: #ffc6c6;
  --number-color: #644a07;
  --text-color: #e24370;
  --hand-color: #644a07;
  --second-hand-color: #e83c91;
}
[data-theme="cyan"] {
  --body-bg-color: #5e828a;
  --clock-border-color: #313d3f;
  --bg-clock-color: #4a5d68;
  --number-color: #d7faff;
  --text-color: #d7faff;
  --hand-color: #181e1f;
  --second-hand-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg-color);
  /* background-image: url("assets/cyanView.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#clock-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 20px solid var(--clock-border-color);
  border-radius: 50%;
  background-color: var(--bg-clock-color);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: var(--second-hand-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.center-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 5px solid var(--hand-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  background-color: var(--hand-color);
  transition: all 0.05s ease-in-out;
  box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.5);
}

.hour {
  width: 6px;
  height: 70px;
  border-radius: 4px;
  z-index: 7;
}

.minute {
  width: 4px;
  height: 110px;
  border-radius: 3px;
  z-index: 8;
}

.second {
  width: 2px;
  height: 125px;
  background-color: var(--second-hand-color);
  border-radius: 1px;
  z-index: 11;
  transition: none;
}

/* Numbers */
.number {
  position: absolute;
  inset: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(calc(30deg * var(--d)));
}

.number b {
  transform: rotate(calc(-30deg * var(--d)));
  font-size: 24px;
  font-weight: 700;
  color: var(--number-color);
}

.number.center-digit b {
  font-size: 35px;
}

.desh {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: var(--number-color);
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(calc(6deg * var(--i)))
    translateY(-140px);
}

.desh.big {
  height: 16px;
  width: 3px;
}

.brand {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 4px;
}

.quartz {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 2px;
}
/* credit */
.credit {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-clock-color);
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* style-icon */
.style-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-clock-color);
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px rgba(31, 8, 8, 0.5);
}
.style-icon img {
  width: 24px;
  height: 24px;
}
.style-icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.style-icon:active {
  transform: scale(0.95);
}

/* Theme Switcher btn*/
.theme {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(calc(var(--i) * -50px));
  transform-origin: bottom;
  box-shadow: 0 6px 15px rgba(31, 8, 8, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: none;
}

.bw {
  background-color: white;
  border: 2px solid rgb(221, 224, 224);
}
.dark {
  background-color: rgb(20, 20, 20);
  border: 2px solid rgb(46, 49, 49);
}
.golden {
  background-color: #c0a34c;
  border: 2px solid #b39b56;
}
.pink {
  background-color: #f39eb6;
  border: 2px solid #d17aa1;
}
.cyan {
  background-color: #5e828a;
  border: 2px solid #2c3e50;
}

@media screen and (max-width: 768px) {
  #clock-container {
    width: 350px;
    height: 350px;
    border: 15px solid var(--clock-border-color);
  }
  .number b {
    font-size: 20px;
  }
  .number.center-digit b {
    font-size: 30px;
  }
  .hand.hour {
    height: 50px;
  }
  .hand.minute {
    height: 75px;
  }
  .hand.second {
    height: 85px;
  }
  .desh {
    transform: translate(-50%, -100%) rotate(calc(6deg * var(--i)))
      translateY(-90px);
    height: 6px;
    width: 1.5px;
  }
  .desh.big {
    height: 12px;
    width: 2px;
  }
  .brand {
    font-size: 16px;
  }
  .quartz {
    font-size: 10px;
  }
}
