:root {
  --bg-color: #f0f0f0;
  --clock-border-color: #333;
  --hand-color: #000;
  --number-color: #333;
  --bg-clock-color: #526f80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

#clock-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 8px solid var(--clock-border-color);
  border-radius: 50%;
  background-color: var(--bg-clock-color);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.center-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 5px solid var(--hand-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  background-color: var(--hand-color);
  transition: all 0.05s ease-in-out;
}

.hour {
  width: 6px;
  height: 70px;
  border-radius: 4px;
  z-index: 7;
}

.minute {
  width: 4px;
  height: 110px;
  border-radius: 3px;
  z-index: 8;
}

.second {
  width: 2px;
  height: 120px;
  background-color: red;
  border-radius: 1px;
  z-index: 11;
  transition: none;
}

/* Numbers */
.number {
  position: absolute;
  inset: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(calc(30deg * var(--d)));
}

.number b {
  transform: rotate(calc(-30deg * var(--d)));
  font-size: 24px;
  font-weight: 700;
  color: #fafcf4;
}

.number.center-digit b {
  font-size: 35px;
}

.desh {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(calc(6deg * var(--i)))
    translateY(-140px);
}

.desh.big {
  height: 16px;
  width: 3px;
}

/* .dashes {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
} */
