:root {
  --body-bg-color: #f0f0f0;
  --clock-border-color: #313d3f;
  --bg-clock-color: #4a5d68;
  --number-color: #d7faff;
  --text-color: #d7faff;
  --hand-color: #181e1f;
  --second-hand-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg-color);
  background-image: url("assets/cyanView.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#clock-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 20px solid var(--clock-border-color);
  border-radius: 50%;
  background-color: var(--bg-clock-color);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: var(--second-hand-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.center-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 5px solid var(--hand-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%);
  background-color: var(--hand-color);
  transition: all 0.05s ease-in-out;
}

.hour {
  width: 6px;
  height: 70px;
  border-radius: 4px;
  z-index: 7;
}

.minute {
  width: 4px;
  height: 110px;
  border-radius: 3px;
  z-index: 8;
}

.second {
  width: 2px;
  height: 120px;
  background-color: var(--second-hand-color);
  border-radius: 1px;
  z-index: 11;
  transition: none;
}

/* Numbers */
.number {
  position: absolute;
  inset: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(calc(30deg * var(--d)));
}

.number b {
  transform: rotate(calc(-30deg * var(--d)));
  font-size: 24px;
  font-weight: 700;
  color: var(--number-color);
}

.number.center-digit b {
  font-size: 35px;
}

.desh {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: var(--number-color);
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(calc(6deg * var(--i)))
    translateY(-140px);
}

.desh.big {
  height: 16px;
  width: 3px;
}

.brand {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 4px;
}

.quartz {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 2px;
}
/* credit */
.credit {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-clock-color);
  border-radius: 5px;
  padding: 5px 10px;
  letter-spacing: 1px;
}
/* style-icon */
.style-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-clock-color);
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-icon img {
  width: 24px;
  height: 24px;
}
.style-icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.style-icon:active {
  transform: scale(0.95);
}
